<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js 애완용품샵_인성</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="assets/css/app.css" real="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        @keyframes blink-effect { 50% { opacity: 0; } } 
        .blink { 
            animation: blink-effect 1s step-end infinite; 
        }
    </style>
</head>
<body>
    <div id="app">
        <header class="navbar navbar-expend-lg bg-secondary">
            <h1 v-text="sitename"></h1>
            <div v-if="canOrder" class="nav justify-content-end cart">
                <button type = "button" class = "btn btn-success btn lg" @click = showCheckout >
                    <!-- 바인딩 옵션{{  }}을 통한 Vue 객체 안 함수 호출 -->
                    <span> 장바구니 {{cartItemCount}}</span>
                    <span> 주문하기</span>
                </button> 
                <button v-if="onRemove" type = "button" class="btn btn-danger btn lg" @click="removeCart">장바구니 비우기</button>
                <button v-else="onRemove" type = "button" class="btn btn-secondary btn lg" >장바구니 비우기</button>
            </div>
            <div v-else="canOrder" class="nav justify-content-end cart">
                <button type = "button" class = "btn btn-secondary btn lg" @click = showCheckout >
                    <span> 장바구니 {{cartItemCount}}</span>
                    <span> 주문하기</span>
                </button> 
                <button type = "button" class="btn btn-secondary btn lg" @click="removeCart">장바구니 비우기</button>
            </div>
        </header>
        <main>
            <div class="row product">
                <div v-if = "showProduct" class="row">
                    <div class="col">
                        <figure>
                            <img v-bind:src="product.image" alt="">
                        </figure>
                    </div>
                    <div class="col col-expand">
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p>{{product.price | formatPrice}}</p>
                        
                        <!-- Vue의 문법과 html, js의 문법 대조
                            <p v-text="productName"></p>
                            <p>[{{product.id}}] {{product.title}}</p> 
                        -->
                        
                        <p>현재 재고량: {{ remaindInventory }}</p>
                        
                        <p v-if="ifCondition1">당신을 위한 최고의 선택!</p>
                        <p v-else-if="ifCondition2" class="blink">마감임박!! 빨리 고르세요!!</p>
                        <p v-else><s>아쉽네요... 재고가 없어요...</s></p>

                        <button v-if="canAddToCart" class="btn btn-primary btn-lg" @click="addToCart">장바구니 담기</button>
                        <button v-else disabled class="btn btn-secondary btn-lg">장바구니 담기</button>
                        
                    </div>
                </div>
                <div v-else>
                    주문하기 화면이 들어갈 자리
                    <div class="nav justify-content-end cart">
                        <button type="button" class="btn btn-warning btn-lg" @click="showCheckout">돌아가기</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
<!-- start test -->
    <!--
    <div id="test">  
        <p>가로 : {{length}}</p>
        <p>세로 : {{width}}</p>
        <p>넓이 : {{length*width}}</p>
        <p>
            <button @click="length += 1">세로값 1 증가</button>
            <button @click="width += 1">가로값 1 증가</button>
        </p>
    </div>
    -->
<!-- end test-->

    <script>
    /* test 예제 이론 수업용 vue 객체
        let test = new Vue({
            el : '#test',
            data : {
                length : 5,
                width : 3
            },
            computed : {
                area(){
                    return this.length * this.width;
                }
            },
            watch:{
                length(newVal, oldVal){
                    console.log(`이전 세로 길이: ${oldVal}, 새 세로 길이 : ${newVal}`);
                },
                width(newVal, oldVal){
                    console.log(`이전 가로 길이: ${oldVal}, 새 가로 길이 : ${newVal}`);
                },
                area(newVal, oldVal){
                    console.log(`이전 넓이: ${oldVal}, 새 넓이 : ${newVal}`);
                }
            },
            beforeUpdate(){
                console.log(`데이터가 변경되었습니다.`);
            }
        })
    */
        // 페이지 생성 관련 타이밍을 알려주는 메소드
        var APP_LOG_LIFECYCLE_EVENTS = true;
        function w(msg){
            if(APP_LOG_LIFECYCLE_EVENTS){
                console.log(msg);
            }
        }
        window.onload = function() {
            let temp = JSON.parse(localStorage.getItem("cart"));
            if (temp) {
                //console.log(temp);
                // 값이 저장되는지 확인용 코드
                webstore.cart = temp;
            }
        }
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: 'Vue.js 애완용품샵',
                product: {
                    id: 1001,
                    title: "고양이 사료, 25파운드",
                    description: "당신의 고양이를 위한 <em>거부할 수 없는</em>, " +
                                 "유기농 25파운드 사료입니다.",
                    price: 2000,
                    image: "assets/images/product-fullsize.png",
                    inventory: 10,
                },
                cart: [],
                showProduct: true
            },

            // computed: 데이터가 계산 및 처리한 후 결과값을 반환
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                productName() {
                    return `[${this.product.id+1}] ${this.product.title}`
                },
                remaindInventory() {
                    let v = this.product.inventory - this.cart.length;
                    return v > 0 ? `${v}개` : `없음`;
                },
                canAddToCart() {
                    return this.product.inventory > this.cartItemCount;
                },
                canOrder() {
                    return this.cart != 0;
                },
                ifCondition1() {
                    return  this.cart.length < 5;
                },
                ifCondition2() {
                    return this.cart.length < 10;
                },
                onRemove() { // 장바구니 비우기 비활성화
                    return this.showProduct;
                },
            },
            filters: {
              
                formatPrice(price) {
                    if (!parseFloat(price))
                        return "Free";
                    if (price > 99999)
                        return new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(price);
                }
            },
            methods: {
                
                // 재고(inventory)보다 장바구니(카드)가 적으면 카트에 id값을 넣는다.
                addToCart: function() {
                    if(this.product.inventory > this.cart.length) {
                        this.cart.push(this.product.id);
                        this.saveCart();
                    }
                },

                //토글 스위치
                showCheckout() {
                    if (this.cartItemCount === 0) {
                        alert("주문할 수 없습니다.")
                    } else { 
                        // 아래 코드들 중 하나 선택
                        this.showProduct = !!!this.showProduct;
                        // this.showProduct = this.showCheckout ? false : true;
                        // !boolean(this.showCheckout)
                    }
                    
                },
                removeCart() {
                    this.cart.splice(0);
                    this.saveCart();
                },

                // 로컬 스토리지 사용을 위한 코드
                saveCart() {
                    window.localStorage.setItem("cart", JSON.stringify(this.cart));
                },
                
                
            },
            beforeCreate(){
                console.log("Start beforeCreate")
                },

            beforeUpdate() {
                console.log("업데이트 전")
            },

            updated() {
                console.log("업데이트 됨")
            },
        });
    </script>
</body>
</html>